################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/acquireWang/acquireWang.VC.VC.opendb
